/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

/* override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #e6e8d6;
    font-family: 'Teachers', sans-serif;
}

/* header */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #e78628;
    background-color: #e6e8d6;
}

header a {
    text-decoration: none;
    color: #3e6cd6;
}

h1 {
    font-family: 'Teachers', sans-serif; 
    font-size: 1.5em;
    color: #e78628;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    text-transform: uppercase;
}

#menu > li:hover {
    text-decoration: underline;
}

/* menu nav bar style */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    text-align: right;
    background-color: #e6e8d6;
}

/* dropdown toggle */
#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu-toggle-label {
    font-size: 2rem;
    color: #3e6cd6;
}

/* main */
main {
    flex: 1 0 auto;
    background-color: #e6e8d6;
    flex-shrink: inherit;
}

/* index styles */
#main-image  {
    text-align: center;
    margin-top: 50px;
}

#text-box {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    bottom: 95px;
    color: black;
    padding: 10px;
}

#text-box h2 {
    font-size: 3rem;
    font-family: 'Patrick Hand', sans-serif; 
    color: black;
    letter-spacing: 2px;
    line-height: 40px;
    padding-bottom: 20px;
}

#text-box h3 {
    font-size:inherit;
    margin-top: 0px;
}

.contact-button {
    font-family: 'Patrick Hand' , sans-serif;
    padding: 5px;
    border-radius: 25px;
    background-color: #3e6cd6;
    color: white;
    font-size: 1.2rem;
}

/* about styles */
#about {
    text-align: center;
    color: black;
}

#about-header {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand' , sans-serif;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#profile-picture {
    height: 250px;
    width: 100%;
    background: url('../images/pexels-gustavo-fring-4173104.jpg') no-repeat center center/cover;
    background-size: contain;
    background-position: top;
    border-radius: 50px;
    box-shadow: inset;
}

#profile {
    margin-top: 10px;
    padding-bottom: 10px;
}

#profile h2 {
    letter-spacing: 2px;
    font-family: 'Patrick Hand', sans-serif;
}

#profile p {
    padding: 0 10px;
}

.break {
    border:1px solid black;
}

/* services styles */
#services {
    margin: 10px;
    color: black;
}

ul {
    list-style-type: none;
}

#services-header {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Patrick Hand', sans-serif;
    letter-spacing: 2px;
}

/* testimonial styles */
#testimonial-header {
    text-align: center;
    margin-top: 42px;
    color: black;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

#testimonials {
    color: black;
}

#testimonials h3 {
    text-align: center;
    font-family: 'Patrick Hand' , sans-serif;
    font-size: 200%;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}

#testimonials i {
    font-size: 1.5rem;
    padding: 5px;
}

#testimonial-left {
    text-align: left;
    padding: 15px;
    line-height: 27px;
    font-size: 1em;
}

#testimonial-right {
    text-align: right;
    padding: 15px;
    line-height: 27px;
    font-size: 1em;
}

/* contact styles */

#form {
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

#form label {
    display: flex;
    flex-direction:column;
    text-align: left;
}

#name-inputs input, #email-input input {
    display: flex;
    height: 3vh;
}

#form textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#form > h2 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Patrick Hand', sans-serif;
}

#form > h3 {
    text-align: center;
}

.submit-button {
    font-family: 'Patrick Hand' , sans-serif;
    padding: 5px;
    border-radius: 25px;
    background-color: #3e6cd6;
    color: white;
    font-size: 1.2rem;
}

#contact-details {
    color: black;
    padding-top: 10px;
    font-family: 'Patrick Hand', sans-serif;
}

#contact-details i {
    padding-right:5px;
    padding-left:5px;
}

iframe {
    vertical-align: middle;
    max-width: 100%;
}

/* confirmation styles */
#confirmation {
    text-align: center;
    margin: auto;
    padding-top: 400px;
    padding-bottom: 60px;
    text-shadow: 0px 0px 3px black;
}

/* footer */
footer {
    z-index: 99;
    background-color: #e6e8d6;
}

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 175%;
    padding: 5%;
    color: #e78628;
}

/* media query 1 - tablets and larger */
@media screen and (min-width: 769px) {
    /* header */
    header {
        background-color: #e6e8d6;
    }
    
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        font-size: 1.6rem;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .menu-toggle-label {
        display: none;
    }

    #main-title {
        line-height: 75px;
        margin: 0 0.5rem;
        background-color: #e6e8d6;
    }

    /* main */
    main {
        margin-top: 79px;
    }

    hr {
        display: none;
    }

    /* index */
    #about {
        float: left;
        width: 50%;
        font-size: 120%;
    }
    
    #about p {
        padding: 0 20px;
    }

    #services {
        padding-left: 10px;
        font-size: 120%;
        margin-top: 0;
    }

    #services-list {
        padding-top: 25px;
    }

    #services-list li {
        padding-bottom: 45px;
    }

    /* testimonials */
    #testimonial-left, #testimonial-right {
        padding-top: 75px;
        padding-bottom: 75px;
        font-size: 1.5rem;
    }

    /* contact */
    #form {
        float: left;
        width: 50%;
        font-size: 2vw;
        padding-left: 20px;
    }

    form {
        padding-top: 50px;
    }

    #name-inputs input {
        width: 50%;
    }

    #email-input input {
        width: 75%;
    }

    #form textarea {
        width: 90%;
        height: 90%;
    }

    #contact-details {
        font-size: 2vw;
        padding-top: 50px;
    }

    #contact-details iframe {
        width: 45%;
    }

}

/* media query 2 - laptops and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;
    }

}