/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

/* override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Teachers', sans-serif;
}

/* header */
header {
    background-color: #ffef9f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    color: #7bf1a8;
    text-shadow: black 0px 0px 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Patrick Hand', sans-serif; 
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    background-color: #7bf1a8;
    text-transform: uppercase;
}

/* menu nav bar style */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* dropdown toggle */
#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu-toggle-label {
    font-size: 2rem;
}

/* main */
main {
    background-color: antiquewhite;
    flex: 1 0 auto;
}

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-gustavo-fring-4173114.jpg') no-repeat center center/cover;
}

/* footer */
footer {
    background-color: #ffef9f;
}

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 175%;
    padding: 5%;
    color: #7bf1a8;
    text-shadow: 0px 0px 1px black;
}

/* media query 1 - tablets and larger */
@media screen and (min-width: 769px) {
    /* header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        font-size: 1.6rem;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .menu-toggle-label {
        display: none;
    }

    #main-title {
        font-size: 300%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* main */
    main {
        margin-top: 79px;
    }
}

/* media query 2 - laptops and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #7bf1a8;
    }

}